.sidebar
 .logo-area Ashraf Sayed
 ul.links-area.list-unstyled
  li: a(href="#") HomePage
  li
   a.toggle-submenu(href="#")
    | Forms
    i.fa.fa-angle-right.fa-lg
   ul.child-linls.list-unstyled
    li: a(href="#") Input
    li: a(href="#") Textarea
    li: a(href="#") Checkbox
    li: a(href="#") Radio
  li
   a.toggle-submenu(href="#") 
    |Misc
    i.fa.fa-angle-right.fa-lg
   ul.child-linls.list-unstyled
    li: a(href="#") Loading
    li: a(href="#") Breadcrumbs