* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
 background-color: #f5f5f5;
}
.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100%;
        transition: all .3s;
        will-change: width;
        float: right;
        &.no-sidebar {
            width: 100%;
        }
    }
}