-var pageTitle = "Charts";
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        title #{pageTitle}
        include pug/layout/styles
    body
     .page.home-page 
       include pug/components/setting-box
       include pug/layout/sidebar
       .content-area
         include pug/layout/header
         .container-fluid
          .content
           include pug/components/pageHead
     include pug/layout/scripts

       