<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
     .container
       .row
         .col-lg-6  this is first div here hello world
         .col-lg-6  this is second div here
       .row
         .col-lg-6  this is first div here this is for test only
         .col-lg-6  this is second div  there and there for ever i am here
    script(src="js/main.js")